<main class="p-5">
    <h1>
        Hello!
        <i class="bi bi-emoji-heart-eyes-fill"></i>
        <i class="fa-solid fa-mountain-sun" style="color: #cad61f;"></i>
    </h1>

    <button class="btn btn-primary">
        <i class="bi bi-eye-slash-fill"></i>
        <i class="fa-solid fa-mountain-sun" style="color: #cad61f;"></i>
    </button>

    <div>
        <img src="/svg/icon.svg">
    </div>
</main>