<main>
    <div class="col-12">
        <h1 class="text-center mb-3">Список сторінок</h1>
        <p class="mb-3"><q>The only thing that stands between you and your dream is the will to try and the belief that
                it is actually possible.</q> – Joel Brown </p>
        <ul class="nav nav-tabs">
            {{#each links}}
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{href}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</main>