<div class="row col-12 g-0 mt-5">

    <ul class="breadcrumb">
        {{#each breadcrumb}}
        <li class="breadcrumb-item">
            {{#if url}} <a href="{{url}}">{{name}}</a> {{else}} {{name}} {{/if}}
        </li>
        {{/each}}
    </ul>

</div>