{{#each cards}}
<div class="col-4">
<<<<<<< HEAD
    <div class="card mb-5">
        <img class="cart-img-top" src="{{image}}" alt="image">
=======
    <div class="card mb-3">
        <div class="card-img-top">
            <img src="{{image}}">
        </div>
>>>>>>> 1076a885bc49d2330ae62cc29984105658e0e59f
        <div class="card-body">
            <h6 class="card-title">
                {{title}}
                {{#if isHot}} <div class="badge text-bg-warning rounded-pill text-uppercase">Hot</div>
                {{/if}}
                {{#if idNew}} <div class="badge text-bg-primary rounded-pill">New</div>{{/if}}
            </h6>
            <p>{{description}}</p>
        </div>
    </div>
</div>
{{/each}}